* {
  outline: 0;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  touch-action: none;
}

canvas {
  width: 100%;
  height: 100%;
}

ul{
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  transform: translate(-50%, 0);
}

ul li {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  cursor: pointer;
  box-sizing: border-box;
}

ul li.selected {
  border: 4px solid #ffffff;
}

ul li img {
  width: 100%;
  height: 100%;
}
